<div class="resume">
    <h2>¡Bienvenido a Hubu, <b style="color: rgb(13, 189, 13);">{{username}}</b>!</h2>
</div>
<div class="container">
    
    <div class="box box-right">
        <p>Agregue fuentes para comenzar a sincronizar los datos con Hubu</p>
        <img src="assets/integracion.jpeg" width="400px" alt="Integración desde Hubu">

      </div>
    <div class="box box-left">
        <mat-icon style="color: green; ">cloud</mat-icon>
      <p>Integra diversas fuentes de datos para centralizar toda tu información en un solo lugar</p>
      <button class="send-btn">+ Agregar fuentes</button>
    </div>
    
  </div>
  