<h2>Detalles del caso</h2>
<div class="container">
    <h3>Pasos del Proceso Médico</h3>
    <div class="steps-container">
        <div *ngFor="let step of medicalSteps" class="step-card">
            <h4>{{ step.title }}</h4>
            <p>{{ step.description }}</p>
            <small>{{ step.date | date: 'dd/MM/yyyy'}}</small>
        </div>
    </div>
    <h3>Respuesta Sugerida</h3>
    
        <textarea [(ngModel)]="suggestedResponse" rows="5" placeholder="Escribe tu mensaje aquí..."></textarea>
    
    <div class="buttons-container">
        <button (click)="close()" class="cancel-btn">Cancelar</button>
        <button (click)="close()" class="send-btn">Enviar</button>
    </div>

</div>